<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Solve</title>
    <link rel="stylesheet" href="{{url_prefix}}static/gateone.css" type="text/css" media="screen" />
</head>
<body>
<!-- This crypto stuff will be used in the future -->
<!-- <script type="text/javascript" src="/static/crypto-md5.js"></script> -->
<script type="text/javascript" src="{{gateone_js}}"></script>
<div id="gateone"></div>
<script>
window.onload = function() {
    GateOne.init({{js_init}}); 

}
</script>
<audio id="bell" preload="auto"> <!-- This is used for the system bell -->
  <source src="{{bell_data_uri}}" type="audio/ogg" />
</audio>

</body>
</html>
